.content-product {
	padding: 1.5rem 0;
	.engine {
		padding: 6.4rem 0;
	}
	.body-content-product {
		margin-bottom: 2rem;
		.title {
			margin-bottom: 2.5rem;
			text-align: center;
			h1 {
				@include text(2.85rem 'Arial', $color-gr);
			}
		}
		.gallery {
			width: 100%;
			display: block;
			// ngoại thất
			.sw-exterior {
				width: 100%;
				padding-bottom: 3rem;
				.swiper-slide {
					.gallery-item {
						position: relative;
						width: 100%;
						overflow: hidden;
						.gallery-img {
							width: 100%;
							position: relative;
							@include mheight(270px);
							height: 100%;
							img {
								@include img-ob(100%, cover);
								height: 100%;
								@include mheight(270px);
							}
						}
						.headline {
							position: absolute;
							bottom: 0;
							left: 0;
							@include size(100%, null);
							padding: 1rem;
							background-color: rgba($color: #000000, $alpha: 0.4);
							h3 {
								@include text(1rem 'Arial', $color-w);
							}
						}
					}
				}
				.sw-pagi-exterior {
					position: absolute;
					bottom: 0;
					.swiper-pagination-bullet-active {
						background-color: $color-active !important;
					}
				}
			}

			// nội thất
			.gallery-top-furniture {
				.swiper-slide {
					width: 100%;
					.gallery-top-img {
						width: 100%;
						position: relative;
						@include mheight(500px);
						img {
							@include img-ob(100%, cover);
							@include mheight(500px);
							height: 100%;
						}
					}
					.headline {
						position: absolute;
						bottom: 0;
						left: 0;
						@include size(100%, null);
						padding: 1rem;
						background-color: rgba($color: #000000, $alpha: 0.4);
						h3 {
							width: 50%;
							@include text(1rem 'Arial', $color-w);
						}
					}
				}
			}
			.gallery-thumbs-furniture {
				width: 100%;
				padding: 2rem 0;
				padding-bottom: 3.5rem;
				background-color: #161514;
				@include box-sizing(content-box);
				.swiper-slide {
					height: 100%;
					img {
						@include img-ob(100%, cover);
						height: 100%;
						@include mheight(165px);
						cursor: pointer;
					}
				}
				.sw-pagi-furniture {
					position: absolute;
					bottom: 1.5rem;
					.swiper-pagination-bullet-active {
						background-color: $color-active !important;
					}
				}
			}

			////// màu sắc
			.sw-color {
				padding: 5.5rem 7rem;
				.swiper-wrapper {
					@include mheight(420px);
					.swiper-slide {
						@include mheight(420px);
						img {
							@include img-ob(null, cover);
							max-width: 100%;
							@include mheight(420px);
							@include flex(center, center);
						}
					}
				}
				.sw-pagi-color {
					right: 15%;
					.swiper-pagination-bullet {
						@include size(3.5rem, 3.5rem);
						background-color: #dbdbdb;
						margin: 1.8rem 0;
					}
					.swiper-pagination-bullet-active {
						background-color: #19619d !important;
					}
				}
			}

			//////thùng xe
			.gallery-top-container {
				.swiper-slide {
					width: 100%;
					.gallery-top-img {
						width: 100%;
						position: relative;
						@include mheight(500px);
						border: 1px solid $color-border;
						img {
							@include img-ob(100%, cover);
							@include mheight(500px);
							height: 100%;
						}
					}
					.headline {
						position: absolute;
						bottom: 0;
						left: 0;
						@include size(100%, null);
						padding: 1rem;
						background-color: rgba($color: $color-gr, $alpha: 0.8);
						h3 {
							width: 50%;
							@include text(1rem 'Arial', $color-w);
						}
					}
				}
			}
			.gallery-thumbs-container {
				width: 100%;
				padding: 2rem 0;
				padding-bottom: 3.5rem;
				background-color: #161514;
				@include box-sizing(content-box);
				.swiper-slide {
					height: 100%;
					img {
						@include img-ob(100%, cover);
						height: 100%;
						@include mheight(165px);
						cursor: pointer;
					}
				}
				.sw-pagi-container {
					position: absolute;
					bottom: 1.5rem;
					.swiper-pagination-bullet-active {
						background-color: $color-active !important;
					}
				}
			}

			////////động cơ
			.info {
				padding: 0 2.85rem;
				.title {
					margin-bottom: 2.6rem;
					text-align: left;
					h3 {
						@include text(bold 1.4rem 'Arial', $color-gr);
					}
				}
				.menu-info {
					@include flex(center, null);
					.nav-info {
						width: 50%;
						display: block;
						li {
							padding-bottom: 2.5rem;
							a {
								@include text(bold 1.42rem 'Arial', #e50000);
								display: block;
								padding: 0;
								span {
									display: block;
									margin-bottom: 1rem;
								}
								.btn-see {
									background-color: transparent;
									padding: 0.5rem 3rem;
									@include text(1rem 'Arial', $color-gr);
									text-transform: uppercase;
									cursor: pointer;
									border-color: $color-border;
									transition: all 0.5s ease-out;
									&:hover {
										background-color: #e50000;
										border-color: #e50000;
										transition: all 0.5s ease-in;
										color: $color-w;
									}
									&:focus {
										outline: none;
										box-shadow: none;
									}
								}
							}
						}
					}
					.info-images {
						width: 50%;
					}
				}
			}

			/////khung gầm
			.gallery-top-chassis {
				.swiper-slide {
					width: 100%;
					.gallery-top-img {
						width: 100%;
						position: relative;
						@include mheight(500px);
						img {
							@include img-ob(100%, cover);
							@include mheight(500px);
							height: 100%;
						}
					}
					.headline {
						position: absolute;
						bottom: 0;
						left: 0;
						@include size(100%, null);
						padding: 1rem;
						background-color: rgba($color: #000000, $alpha: 0.4);
						h3 {
							width: 50%;
							@include text(1rem 'Arial', $color-w);
						}
					}
				}
			}
			.gallery-thumbs-chassis {
				width: 100%;
				padding: 2rem 0;
				padding-bottom: 3.5rem;
				background-color: #161514;
				@include box-sizing(content-box);
				.swiper-slide {
					height: 100%;
					img {
						@include img-ob(100%, cover);
						height: 100%;
						@include mheight(165px);
						cursor: pointer;
					}
				}
				.sw-pagi-chassis {
					position: absolute;
					bottom: 1.5rem;
					.swiper-pagination-bullet-active {
						background-color: $color-active !important;
					}
				}
			}
		}
		////////// thông số kỹ thuật
		#accordionListParam {
            .param-item{
                .param-item-header{
                    padding: 1rem 2.8rem;
                    border: 1px solid $color-border;
					cursor: pointer;
                    .param-title{
						position: relative;
						&::before{
							@include content-empty(
								'',
								50%,
								null,
								1%,
								null
							);
							width: 1rem;
							height: 1rem;
							background-image: url(../images/icon/arr_m2.png);
							background-position: center;
							background-repeat: no-repeat;
							@include tranform(translateY(-50%));
							@include transition(transform 0.5s ease-out);
						}
                        h3{
                            @include text(1rem 'Arial',$color-gr);
                            text-transform: uppercase;
                        }
					}
					.param-title[aria-expanded="true"]{
						&::before{
						   transform: translateY(-50%);
						   background-image:  url(../images/icon/arr_m.png);
						   color: $color-border;
						   @include transition(transform 0.5s ease-in);
						}
					}
                }
                .param-item-body{
                    padding:1rem 3.5rem;
                    border-left: 1px solid $color-border;
                    border-right: 1px solid $color-border;
                    .table{
                        tbody{
                            tr{
                                width: 100%;
                                td{
                                    border: none;
                                    padding:0;
                                    padding-bottom: 1.2rem;
                                }
                                td:nth-child(1){
                                    width: 30%;
                                }
                                td:nth-child(2){
                                    width:20%;
                                }
                                td:nth-child(3){
                                    width: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        ////////video
        .overplay-video{
            margin-top: 3rem;
            display: block;
            width: 100%;
            position: relative;
            &::before{
                @include content-empty('',0,0,0,0);
                background-color: rgba($color: #000000, $alpha: 0.4);
                @include size(100%,100%);
            }
            &:after{
                @include content-empty('\f144',50%,50%,null,null);
                @include tranform(translate(-50%,-50%));
                font-size: 4rem;
                cursor: pointer;
                color:$color-w;
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
            }
                img{
                    @include img-ob(100%,cover);
                    @include mheight(500px);
                }
        }
	}
}
