.menu-category{
    @include size(100%,120px);
    background-color: $color-w1;
    border-bottom: 5px solid $color-border;
    position: relative;
    &::before{
        @include content-empty('',0%,50%,null,null);
        @include tranform(translateX(-50%));
        @include size(2px,100%);
        background-color: $color-border;
    }
    .nav-category{
        @include grid(1fr 1fr,100%,null,center);
        @include size(100%,100%);
        li{
            @include size(100%,100%);
            a{
                @include text(bold 28px 'Arial',$color-gr);
                text-decoration: none;
                text-transform: uppercase;
                padding: 1rem 2.5rem;
                position: relative;
                @include size(100%,100%);
                @include flex(null,center);
                @include transition(all 0.5s ease-out);
                background-color: transparent;
                img{
                    object-fit: cover;
                }
                span{
                    padding-left: 1rem;
                    svg{
                        position: absolute;
                        font-size: 3rem;
                        font-weight: 100;
                        right: 10%;
                        top: 50%;
                        @include tranform(translate(-10%,-50%));
                        color: $color-border;
                        @include transition(all 0.5s ease-in);
                    }
                }
                &:hover{
                    @include transition(all 0.5s ease-in);
                    background:linear-gradient(to left bottom, #ffffff, #e5e5e5);
                    span{
                        svg{
                            color: $color-active;
                            @include transition(all 0.5s ease-in);
                        }
                    }
                }
            }
        }
    }
}