.list-product-category{
    @include mobile{
        padding: 0 4%;
        .product-brands{
            img{
                -webkit-filter: invert(40%) ggrayscale(100%) brightness(100%) sepia(100%) hue-rotate(308deg) saturate(705%) contrast(1.8);
                filter: grayscale(100%) brightness(100%) sepia(100%) hue-rotate(308deg) saturate(705%) contrast(1.8);
            }
        }
        .products-container{
            grid-template-columns: repeat(2,minmax(50%,1fr));
            grid-row-gap: 1rem;
            grid-column-gap: 0;
            padding: 1rem 0;
            .products-item{
                width: 100%;
                padding: 0 1.5rem;
                .products-item-car{
                    margin-bottom: 1rem;
                    img{
                        max-width: 100%;
                    }
                }
                .product-item-brand{
                    img{
                        max-width: 100%;
                    }
                }
            }
        }
    }
    @include tablet{
        padding: 0 4%;
        .product-brands{
            img{
                -webkit-filter: invert(40%) ggrayscale(100%) brightness(100%) sepia(100%) hue-rotate(308deg) saturate(705%) contrast(1.8);
                filter: grayscale(100%) brightness(100%) sepia(100%) hue-rotate(308deg) saturate(705%) contrast(1.8);
            }
        }
        .products-container{
            grid-template-columns: repeat(2,minmax(50%,1fr));
            grid-row-gap: 1rem;
            grid-column-gap: 0;
            padding: 1rem 0;
            .products-item{
                width: 100%;
                padding: 0 1.5rem;
                .products-item-car{
                    margin-bottom: 1rem;
                    img{
                        max-width: 100%;
                    }
                }
                .product-item-brand{
                    img{
                        max-width: 100%;
                    }
                }
            }
        }
    }
}