.list-question{
    #accordionListQuestion{
        padding-right: 2.5rem;
        .question-item{
            .question-item-header{
                border-top: 1px solid $color-border;
                border-bottom: 1px solid $color-border;
                padding-right: 2.5rem;
                .question-title{
                    position: relative;
                    cursor: pointer;
                    &::before{
                        @include content-empty('',50%,null,1rem,null);
                        width: 50px;
                        height: 50px;
                        background-image: url(../images/icon/arr_red.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        @include tranform(translateY(-50%));
                        @include transition(transform 0.5s ease-out);
                        @include text(100 2.3rem 'Arial',$color-active);
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 600;
                    }
                    h3{
                        @include text(bold 1rem 'Arial',$color-gr);
                        line-height: 4.3rem;
                    }
                }
                .question-title[aria-expanded="true"]{
                    &::before{
                       transform: translateY(-50%);
                       background-image:  url(../images/icon/arr.png);
                       color: $color-border;
                       @include transition(transform 0.5s ease-in);
                    }
                }
            }
            .question-item-body{
                padding: 3.6rem 3.6rem 3.6rem 1.6rem;
                p{
                    @include text(1rem 'Arial',$color-gr);
                    line-height: 2.4rem;
                }
            }
        }
    }
}