.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    background-image: url(../../images/icon/arrow-next.png);
    right: 3%;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    background-image: url(../../images/icon/arrow.png);
    left: 3%;
}
.swiper-button-prev.swiper-button-disabled,.swiper-button-next.swiper-button-disabled{
    pointer-events: none;
}