$color-nav:#262626;
$color-bg:#1f1f1f;
$color-w:#ffffff;
$color-w1:#fdfdfd;
$color-gr:#333333;
$color-active:#e50000;
$color-border:#cccccc;
$color-bg-blogs:#1f1f1f;
$color-bg-content-abouts:#f8f8f8;
$color-icon-bar:#bc162c;