.main-footer{
    margin-left: 100px;
    .footer{
        background-color: $color-gr;
        padding: 1.5rem 2rem;
        .top-footer{
            @include flex(null,center);
            .menu-footer{
                .nav-menu-footer{
                    li{
                        a{
                            @include text(1rem 'Airal',$color-w);
                            text-transform: uppercase;
                            padding: 0.8rem 1.5rem;
                        }
                    }
                    li:nth-child(1){
                        a{
                            padding-left: 0;
                        }
                    }
                }
            }
            .network-social-footer{
                margin-left: auto;
                .nav-network-social-footer{
                    li{
                        @include size(30px,30px);
                        @include flex(center,center);
                        text-align: center;
                        border-radius: 50%;
                        border:1px solid $color-w;
                        margin-right: 0.8rem;
                        a{
                            color: $color-w;
                            padding: 0.5rem;
                        }
                    }
                }
            }
        }
        .copyright{
            margin-top: 0.5rem;
            p{
                @include text(null,14px 'Arial');
                color: $color-w;
                line-height: 1rem;
            }
        }
    }
    .license{
        padding: 1rem 2rem;
        background-color: $color-nav;
        @include flex(null,center);
        .license-brands{
            margin-left: auto;
            p{
                @include text(null 1rem 'Arial',$color-w);
                margin-bottom: 0;
            }
        }
    }
}