.main-menu{
    background-color: $color-nav;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1000;
    @include transition(all 0.5s ease-out);
    @include size(100px,100%);
    .logo{
        @include flex(center,center);
        @include size(100%,100px);
        background-color: $color-w;
        padding: 10px 0;
        cursor: pointer;
        img{
            object-fit: cover;
        }
    }
    .nav-menu{
        display: block;
        width: 100%;
        height: auto;
        .nav-main-menu{
            @include flex(center,center);
            @include size(100%,null);
            li{
                @include size(100%,);
                @include flex(center,center);
                text-align: center;
                padding: 1.3rem 0;
                a{
                    @include text-menu;
                    padding: 0;
                    span{
                        display: block;
                        width: 100%;
                        white-space: nowrap;
                        padding-top: 6px;
                    }
                }
            }
        }
    }
    .language{
        display: block;
        position: absolute;
        bottom: 20px;
        @include size(100%,null);
        .nav-language{
            @include flex(center,center);
            li{
                padding-right: 10px;
                position: relative;
                a{
                    @include text(bold 14px 'Arial',$color-w);
                    text-transform: uppercase;
                    padding: 0;
                }
                a.active{
                    color: $color-active;
                }
            }
            li:nth-child(1){
                &::before{
                    @include content-empty('null',0,null,0,null);
                    @include size(1px,100%);
                    background-color: $color-active;
                }
            }
            li:nth-child(2){
                padding-left: 10px;
            }
        }
    }
}