.network-social-fixed{
    position: fixed;
    bottom: 30%;
    right: 0;
    z-index: 2;
    .nav-network-social-fixed{
        list-style-type: none;
        li{
            margin-bottom: 1px;
            @include size(auto,55px);
            background-color: #ff0000;
            @include flex(center,center);
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            z-index: 1000;
            transition: all 0.5s ease-out;
            transform: translateX(252px);
            a{
                @include flex(flex-start,center);
                text-decoration: none;
                padding: 0 1rem;
                width: 100%;
                img{
                    display: block;
                    padding-right: 1rem;
                    float: left;
                }
                p{
                    @include text(1rem 'Arial',$color-w);
                    text-transform: uppercase;
                    margin-bottom: 0;
                    float: left;
                }
                span{
                    @include text(bold 1.1rem 'Arial',$color-w);
                    padding-left: 0.7rem;
                }
            }
            &:hover{
                transform: translateX(0px);
                transition: all 0.5s ease-in;
            }
        }
    }
}
.scroll-top{
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-out;
    position: fixed;
    bottom: 10%;
    right: 3%;
    @include size(54px,54px);
    border-radius: 50%;
    border: 1px solid $color-border;
    @include flex(center,center);
    color: $color-border;
    background-color: $color-bg;
    z-index: 2;
    cursor: pointer;
}
.scroll-top.active{
    visibility: visible;
    opacity: 0.4;
    transition: all 0.5s ease-in;
    &:hover{
        opacity: 1;
        @include transition(all 0.4s ease-in-out)
    }
}