.content-value{
    background-color: $color-bg-content-abouts;
    padding: 4rem 4.5rem;
    .summary{
        column-count: 2;
        column-gap: 5rem;
        div{
            @include flex(center,center);
            img{
                object-fit: cover;
            }
        }
        p{
            @include text(1.7rem 'Arial',$color-gr);
            line-height: 2rem;
        }
    }
    .body{
        margin-top: 3.5rem;
        column-count: 2;
        column-gap: 5rem;
        h1,h2,h3,h4,h5,h6{
            font-weight: bold;
            color:$color-gr;
            line-height: 1.7rem;
            margin-bottom: 1.8rem;
        }
        p{
            @include text(16px 'Arial',$color-gr);
            line-height: 1.7rem;
            margin-bottom: 1.6rem;
        }
    }
}
