.menu-maps{
    padding: 1.6rem 0;
    width: 100%;
    @include box-shadow(0,10px,20px,#fafafa,false);
    @include flex(center,center);
    .nav-menu-maps{
        li{
            padding: 1.1rem 1.8rem;
            border-right: 1px solid $color-border;
            a{
                @include text(1.3rem 'Arial',$color-gr);
                padding: 0;
            }
            a.active{
                color: $color-active;
                border-bottom: 1px solid $color-active;
            }
        }
    }
}